/*
Luke Niland
FSDI Course 2 Assignment 1 
 */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.5;
    font-size: 14px;
}

.container{
    width: 99.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.site-header{
    background-image: url(../img/header.jpg);
    height: 40vh;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.site-header a{
    color: white;
    text-decoration: none;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bar a{
    font-size: 14px;
}

h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    color: white;
}

h3,h4,h5{
    font-size: 20px;
    font-weight: 600;
}

h6{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top: 3vh;
    width: 70%;
    margin-left: 15%;
}

.footerIndex{
    background-image: url(../img/encuentra.jpg); background-position: top 60% left 80%;
    height: 20vh;
    border-radius: 5px;
}

.footerIndex p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    margin-left: 15%;
    padding: 3px;
}

.footerDiv{
    height: 4vh;
    background-color: rgb(255, 132, 0);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.footerLink{
    display: inline-block;
    margin-left: 45%;
    background-color: rgb(255, 132, 0);
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 2vh;
    width: fit-content;
}