html{
    /* 1rem = 10px 
    font-size: 80%; */
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    line-height: 1.5;
    font-size: 14px;
}

.container{
    width: 99.5%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.site-header{
    background-image: url(../img/header.jpg);
    height: 40vh;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 5px;
}

.site-header a{
    color: white;
    text-decoration: none;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bar a{
    font-size: 14px;
}

h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    color: white;
}

h3,h4,h5{
    font-size: 20px;
    font-weight: 600;
}

h6{
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top: 3vh;
    width: 70%;
    margin-left: 15%;
}

.footerIndex{
    background-image: url(../img/encuentra.jpg); background-position: top 60% left 80%;
    height: 20vh;
    border-radius: 5px;
}

.footerIndex p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 70%;
    margin-left: 15%;
    padding: 3px;
}

.footerLink{
    display: inline-block;
    width: 70%;
    margin-left: 15%;
    background-color: rgb(255, 132, 0);
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    margin-top: 3px;
}

/* .header-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-text-container p{
    font-size: 24px;
    font-weight: 700;
}

.about-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.house-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:1rem;
}

.house-item{
    background-color: #dedede;
}

.house-text{
    padding: 1rem;
}

.price{
    color: darkgreen;
}

.house-item ul{
    list-style-type: none;
}

/* Contact Page Styles*/

/* .contact-header{
    background-color: orangered;
    margin-right: 20px;
}

.main-text{
    font-weight: 900;
}

.secondary-text{
    font-weight: 700;
}

.form-container{
    background-color: lightskyblue;
    padding: 2rem;
    border-radius: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

fieldset{
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
}

legend{
    font-size: 1.6rem;
}
.form-control label{
    font-size: 1.6rem;
}

.form-control input, .form-control textarea{
    display: inline-block;
    width: 60%;
    padding: 3px;
    font-size: 1.6rem;
} */